
// Primary Colors.
$color-primary-light: #3eb0f7;;
$color-primary: #1DA1F2;
$color-primary-dark: #156ba0;;

// Black and White
$color-white: #fff;
$color-black: #000;

// Light Shades.
$color-light-1: #ccc;
$color-light-2: #ddd;
$color-light-3: #eee;

// Dark Shades
$color-dark-1: #999;
$color-dark-2: #666;
$color-dark-3: #333;

